<nav class="top-bar">
  <ul class="title-area">
    <li class="name"><h1><a href="#">Home</a></h1></li>
    <li class="toggle-topbar menu-icon"><a href="#" {{action "noop"}}><span></span></a></li>
  </ul>
  <section class="top-bar-section">
    <ul class="right">
      <li class="divider"></li>
      <li>
        {{#linkTo "tiers"}}Tiers{{/linkTo}}
      </li>
      <li class="divider"></li>
      <li><a href="#">New Tier</a></li>
      <li class="divider"></li>
      <li><a href="#">about</a></li>
  </ul>
  </section>
</nav>

{{outlet}}
