<div class="row">
    <div class="large-12 columns" style="background:url(/img/study.jpg) no-repeat top; backgound-size:100% auto; text-align:center;">
      <div class="row">
        <div class="large-6 large-offset-1 small-10 small-offset-1 columns panel" style="background-color:rgba(240,240,240,0.7); margin-top: 20px; height: 420px;">
          <h1 style="color:#333;">I hate Vocab</h1>
          <hr />
          <p>There are billions of people suffering in English standard tests, how can we help them?</p>
        </div>

        </div>
      </div>

    </div>
</div>
