<div class="row">
    <div class="large-12 columns">
      
      <div class="large-9 push-3 columns">
        {{outlet}}
      </div>
      <div class="large-3 pull-9 columns">
        <h3>Global tier</h3>
      </div>
    </div>
</div>


